html {
  font-size: 10px;
  background-color: #121317
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 6rem;
  margin: 0;
}

p {
  font-size: 2.3rem;
  margin: 0.5rem;
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #858584;
}

a:hover {
  color: #ebdee7;
}

#main {
  margin: 30px 15px;
  padding: 20px;
  border-radius: 5px;
  background: #181B22;
}

#container {
  background-image: url(https://images.hdqwalls.com/download/snow-trees-top-view-from-drone-4k-eo-3840x2400.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

img {
  max-width: 40%;
  display: block;
  height: auto;
  margin: 0 auto;
  box-shadow: 8px 8px 18px 0px rgb(2 3 3);
}

#img-div {
  backdrop-filter: blur(5px);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

#img-caption {
  margin-top: 20px;
  font-size: 2rem;
  background-color: #181B22;
  margin-left: 660px;
  margin-right: 660px;
  box-shadow: 8px 8px 18px 0px rgb(2 3 3);
}

#headline {
  margin: 50px 0;
  text-align: center;
  font-size: 2.5rem;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
  font-size: 2rem;
}

@media (max-width: 1580px) {
  #img-caption {
    font-size: 1.875rem;
    margin: 10rem
  }
}

@media (max-width: 1580px) {
  #img-div {
    height: 100%;
    margin: 0;
  }
}

@media (max-width: 1580px) {
  #main {
    margin: 0;
  }
}

@media (max-width: 1580px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}